.post {
  margin-bottom: 50px;
}

.avatar {
  width: 80px;
  height: 80px;
  display: inline-block;

  background-color: #dee5eb;
}

.message {
  margin-left: 1.5rem;

  display: inline-block;
  vertical-align: top;

}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading>span {
  font-size: 1rem;
  font-weight: 700;
  color: #506f94;
}

.info {
  margin-left: calc(80px + 1.5rem);

  display: flex;
  justify-content: space-between;
}

.info>time {
  color: #A1A3A2;
}

.info>span {
  position: relative;
  margin-right: 2rem;

  color: #9AA6B2;
  font-weight: 700;
}

.info>span::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: -24px;

  background-image: url('/src/thumb-up.svg');
}